*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --cl-nameheader: hsl(0, 0%, 100%);
  --cl-namecard: hsl(232, 17%, 35%, 1);
  --cl-backlogo: hsl(218, 17%, 62%);
  --cl-backnamelogo: hsl(275, 18%, 79%);
  --cl-backnamecard: hsl(312, 91%, 96%);
  --cl-backmain: hsl(233, 100%, 97%);
  --cl-textmain: hsl(274, 84%, 12%);
  --ft-open: 'Open Sans', sans-serif;
  --ft-palanquin: 'Palanquin', sans-serif;
  --ft-roboto: 'Roboto', sans-serif;
  --ft-staatliches: 'Staatliches', cursive;
  --fs-h1: clamp(4rem, 1rem + 3vw, 4.8rem);
  --hg-title: clamp(4.9rem, 2rem + 4vw, 7rem);
}

.container{
  margin: 0 auto;
  max-width: 38.4rem;
  font-family: var(--ft-staatliches);
  font-weight: 400;
}

header{
  height: 27.9rem;
  background-color: var(--cl-backlogo);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0 2.9rem;
}

#web, header p, footer{
  display: none;
}

header h1{
  height: var(--hg-title);
  width: 100%;
  background-color: var(--cl-backnamelogo);
  color: var(--cl-nameheader);
  text-transform: uppercase;
  font-size: var(--fs-h1);
  line-height: 3.4rem;
  letter-spacing: 2px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  padding: 1.4rem 3.2rem 6rem;
  background-color: var(--cl-backmain);
}

main p{
  font-family: var(--ft-palanquin);
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--cl-textmain);
  text-align: center;
  margin-bottom: 6.3rem;
}

.imagens{
  display: grid;
  gap: 3.6rem;
  object-fit: cover;
}

.cards{
  position: relative;
}

.cards img{
  width: 100%;
  border-radius: 2rem;
  object-fit:cover;
  animation-name: upwards;
  animation-duration: 800ms;
}

#tam1{
  height: 25rem;
}

#tam2{
  height: 45rem;
}

.cards h2{
  width: 11.2rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  color: var(--cl-namecard);
  background-color: var(--cl-backnamecard);
  padding: 0 2.4rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0,01rem;
  animation-name: toptobottom;
  animation-duration: 800ms;
  animation-delay:500ms;
  animation-fill-mode: backwards;
}

@keyframes toptobottom{
  0%{
    opacity: 0;
    transform: translateY(-2rem);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upwards{
0%{
  opacity: 0;
  transform: translateY(2rem);
}

100%{
  opacity: 1;
  transform: translateY(0);
}
}

@media (min-width: 800px){
  .container{
    display: flex;
    max-width: 128rem;
    max-height: 72rem;
    margin: 0;
  }

  header{
    display: grid;
    gap: 3.2rem;
    justify-content: flex-start;
    justify-items: center;
    padding-bottom: 12.5rem;
    height: 72rem;
    max-width: 37.7rem;
  }

  #cel, main p{
    display: none;
  }

  #web, header p{
    display:grid;
    color: var(--cl-nameheader);
    font-size: 2rem;
    line-height: 2rem;
    font-family: var(--ft-roboto);
    text-align: center;
  }

  .imagens{
    display: grid;
    grid-template-columns: 22rem 22rem 22rem;
    grid-template-rows: 15rem 16.8rem 15rem;
    grid-template-areas: "A B F"
                         "D B E"
                         "D C E";
    gap: 3.2rem;
    object-fit: cover;
  }

  main{
    background-color: var(--nameheader);
    max-height: 72rem;
    padding: 0;
  }

  main img{
    object-fit: cover;
  }

  main div:nth-child(1){
   grid-area: A;
   grid-row: 1/2;
  }
  main div:nth-child(2){
   grid-area: B;
   grid-row: 1/2;
  }
  main div:nth-child(3){
   grid-area: C;
   grid-row: 3/4;
  }
  main div:nth-child(4){
   grid-area: D;
   grid-row: 2/4;
  }
  main div:nth-child(5){
   grid-area: E;
   grid-row: 1/2;
   height: 15rem;
  }
  main div:nth-child(6){
   grid-area: F;
   grid-row: 2/4;
  }

  #tam1{
    max-height: 15rem;
  }

  #tam2{
    max-height: 35rem;
  }

  .contents{
    display: grid;
    align-content: space-between;
    justify-items: center;
    padding: 6.4rem 8.1rem 4.6rem;
  }

  footer{
    display: flex;
    color: var(--cl-namecard);
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-family: var(--ft-open);
  }

  footer a {
    text-decoration: none;
    font-weight: 700;
    color: var(--cl-namecard);
  } 
}